.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 14px 10px;
  line-height: 20px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $lightgrey;
  border: 2px solid $lightgrey;

  &:hover,
  &:focus {
    color: $white;
    background-color: $lightgrey;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $lightgrey;
  }
}
