.page-footer {
  min-width: $mobile-width;
  min-height: 160px;
  box-sizing: border-box;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 668px;
    margin: 32px auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 28px auto;
  }
}

.page-footer__logo {
  display: none;


  @media (min-width: $tablet-width) {
    display: block;
    width: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 144px;
    margin: 0;
    margin-top: 4px;
  }
}

.page-footer__logo-icon {
  &[href]:hover,
  &[href]:focus {
    fill: $light-moderateblue;
  }

  &[href]:active {
    fill: $light-moderateblue;
    opacity: 0.3;
  }
}

.page-footer__social {
  width: 260px;
  min-height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid $grey-bottom;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 58px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 130px;
  }
}

.page-footer__copyright {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 190px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
